* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

header {
  padding: 20px;
	width: 100%;
  height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: solid 2px white;
}

header span {
  margin: 10px;
  font-size: 50px;
  color: orange;
}

#navbar {
  margin-right: 50px;
	width: 30%;
  font-size: 25px;
	display: flex;
	align-items: right;
	justify-content: space-between;
	position: relative;
}

section {
	  width: 100%;
 	  padding: 20px;
  	border-radius: 5px;
  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}	

#navbar a {
  padding-bottom: 5px;
  text-decoration: none;
  display: inline;
  text-align: justify;
  color: #ff004f;
}

.home {
  background: transparent;
  border: solid 2px white;
  width: 100%;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home img {
  width: 30%;
  height: 30%;
  border-radius: 15px;
  transition: transform 0.5s;
}

.home p{
  font-size: 20px;
}

.home h3{
  font-size: 30px;
}

.home span{
  font-size: 40px;
}

.home div{
  color: white;
  padding: 50px;
}

.patil {
  background-image: url("YFrUbL.jpg");
  color: white;
}

#about {
  border: solid 2px white;
	width: 100%;
  	background-color: black;
  	padding: 20px;
}

#about div{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#about img {
  width: 30%;
  height: 20%;
  position: relative;
  border-radius: 15px;
  transition: transform 0.5s;
}

.about-container{
  gap: 50px;
}

#one{
  color: white;
  font-size: 25px;
}

#skills {
	border: solid 2px white;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.skill{
  border: solid 2px white;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.skills-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px white;
  padding: 5px;
  color: white;
}

.precent-width{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  border: solid 2px white;
  margin: 5px;
  padding: 5px;
  width: 90%;
}

.precent{
  border: solid 10px white;
  width: 100%;
}

h1 {
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}

#projects{
  width: 100%;
  color: white;
  border: solid 2px white;
}

.project-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-text{
  border: solid 2px white;
}

#projects img{
  width: 50%;
  height: 50%;
  border-radius: 15px;
  background-image: cover;
}

#contact{
  border: solid 2px white;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.contact-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#contact img{
  width: 5%;
  height: 5%;
}

.itsme{
  font-size: 50px;
}

.container{
  width: 50%;
}

.container form{
  font-size: 25px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

#contact div{
  margin: 10px;
  padding: 5px;
}

footer {
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p{
  font-size: 25px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: green;
}